
.fixed {
    position:fixed;
    top:60px;
    left: 50%;
    width:100%;
    transform: translate(-50%);
}

.pure_fixed{
    position:fixed;
}
.sticky{

    position:sticky;
    top:60px;
    width:100%;

}
.hide{
    visibility:hidden !important; 
}

.intro_flex_overall{
    width:100%;
    height:693vh;
    padding-top:60px;
}

.transparent_one_vh{
    width:100%;
    height:100vh;
}

/*--------------------------------*/


.intro_main_scroll_wrapper{
    width:100%;
    height:593vh;

    box-sizing:border-box;
}

.intro_main_container{
    width : 100%;
    height: calc(100vh - 60px);
    
    box-sizing:border-box;
}

.intro_main{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    position:relative;
    z-index:10;
}

.intro_main_title {
    font-size: 120px;
    color : #4d4d4d;
    text-align: center;
}

.intro_main_description{
    font-size:1.5vw;
    /* width : 570px; */
    width:43vw;
    color : #4d4d4d;
    margin: 3vh auto;
    text-align:center
}

.intro_main_img{
    display:block;
    /* max-width:800px; */
    box-sizing:border-box;
    margin : 0 auto;
    padding: 2vh 0;
    /* position:absolute;
    bottom:20%;
    left:50%; */
    /* transform:translateX(-50%); */
    /* width: 85%; */
    height:40vh
}




/* ----------------------------------- */



.intro_flex_container{
    width : 100%;
    height: 593vh;
    box-sizing:border-box;

    /* padding-top:60px;    */

    background-color: #151515;


    
}

.intro_flex {

    z-index:20;
}

.intro_flex_title{
    font-size: 120px;
    transform: translateX(-20px);
    text-align: center;
    color:white;

}

.first_title{
    /* padding-top:15vh; */
    /* visibility:hidden; */
}

.arrow_container{
    height:70vh;
    margin : 0 auto;
    z-index:3000;
    display:flex;
    justify-content:center;
    transform: translateX(-20px);
    margin:-10vh 0;

}
.intro_flex_arrow_title_scroll_wrapper{
    width:100%;
    height:100vh;
}
.intro_flex_arrow_title_container.fix_special{
    position:fixed;
    top:-20%;
    left: 50%;
    width:100%;
    transform: translate(-50%);
}   

.intro_flex_img_container{
    margin-top :8vh;
    position:relative;
    z-index:-100;

}
.intro_flex_img{
    display:block;
    margin:0 auto;
    box-sizing:border-box;

    max-width:1000px;
    width: 60%;
    height:70vh;
}

.intro_flex_description_container{
    margin-left: 17%;
    box-sizing:border-box;
    padding:10vh 0;
}

.intro_flex_description_title_container{
    display:flex;
    align-items: center;
    padding:2vh 0;
    
}

.intro_flex_moon_img{

    width:100px;
    height:100px;
}

.intro_flex_description_title{
    font-size:50px;
    color : #fff;

}
.intro_flex_description_detail{
    
    font-size:1.4vw;
    width : 40vw;
    color : #c4c4c4;

    padding:2vh 0;

}

.intro_plan_link{
    font-size:1.4vw;
    color:#3888FF;
    padding:2vh 0 0 0;

}



/* ----------------------------------- */
.intro_flex_life_scroll_wrapper{
    width : 100%;
    height: 100vh;
    box-sizing:border-box;

    padding-top:60px;   

    background-color: #fff;
}

.intro_flex_life_container{
    width:100%;
    height: 100vh;
    box-sizing:border-box;
    padding-left: 12%;
    /* padding-top:60px;    */
    box-sizing:border-box;
    background-color: #fff;

}
.intro_flex_life_title_container{
    display:flex;
    align-items: center;

    
}

.intro_flex_life_sun_img{
    margin-top:3vh;
    width:130px;
    height:130px;
}



.intro_flex_life_title{
    font-size:70px;
    color : #4d4d4d;
    margin-left:0.5%;
}
.intro_flex_life_description{
    /* font-size:20px;
    width : 550px; */
    font-size:1.4vw;
    width : 38.5vw;
    color : #4d4d4d;
    padding:2vh 0;
}


.intro_flex_life_illustration_container{
    width:90%;
    height:30vh;
    margin-Top:5vh;
    box-sizing:border-box;
    position:relative;
    /* overflow:hidden; */

}

.ship_container{
    width:15%;

    display:inline-block;
    position:absolute;
    bottom:10%;
}



.intro_flex_life_wave_illustration_container{
    box-sizing:border-box;
    width:100%;
    height:10%;
    position:absolute;
    bottom:10%;


}

.intro_flex_life_sail_illustration{
    /* max-width:1000px; */
    
    width:100%;
    height:100%;
}

.intro_flex_life_wave_illustration{
    /* max-width:1000px; */
    
    width:100%;
    height:100%;
}

.illustration_transparent_container{
    position:absolute;
    top:0%;
    left:0%;
    width:100%;
    height:100%;
    z-index:2000;
}

