@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&family=Readex+Pro:wght@500;600&display=swap');

.ExpText {
    position : absolute;
    white-space: pre-line;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-size : 80px;
    left : 50%;
    top : 33%;
    color : #252525;

}
