@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&family=Readex+Pro:wght@500;600&display=swap');

.intro_main{
    font-family: 'Noto Sans KR', sans-serif;
 
}

.intro_main_title {
    font-weight:700;
}
.intro_main_description{
    font-weight:500;
}
.intro_flex_title{
    font-weight:700;
}